In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [ ]:
df = pd.read_csv("NESI DATASET JAN 2.csv")

In [ ]:
#            Date       Open       High        Low     Close      Volume  \
# 0  Feb 18, 2025  22,963.65  22,992.50  22,801.50  22,945.30   2,10,600   
# 1  Feb 17, 2025  22,809.90  22,974.20  22,725.45  22,959.50   2,07,400   
# 2  Feb 14, 2025  23,096.45  23,133.70  22,774.85  22,929.25   2,54,500   
# 3  Feb 13, 2025  23,055.75  23,235.50  22,992.20  23,031.40   2,65,700   
# 4  Feb 12, 2025  23,050.80  23,144.70  23,144.70  22,798.35  23,045.25   

#    RULE 1  RULE 2            TP  RULE 3  CLASSIFIER  
# 0       0        1  22913.10000       0           0  
# 1       1        0  22886.38333       0           0  
# 2       0        1  22945.93333       1           1  
# 3       0        0  23086.36667       1           0  
# 4       0        0  23029.25000       0           0 

df.head()

,Date,Open,High,Low,Close,Volume,RULE 1,RULE 2,TP,RULE 3,CLASSIFIER
0,"Feb 18, 2025","22,963.65","22,992.50","22,801.50","22,945.30","2,10,600",0,1,22913.10000,0,0
1,"Feb 17, 2025","22,809.90","22,974.20","22,725.45","22,959.50","2,07,400",1,0,22886.38333,0,0
2,"Feb 14, 2025","23,096.45","23,133.70","22,774.85","22,929.25","2,54,500",0,1,22945.93333,1,1
3,"Feb 13, 2025","23,055.75","23,235.50","22,992.20","23,031.40","2,65,700",0,0,23086.36667,1,0
4,"Feb 12, 2025","23,050.80","23,144.70","23,144.70","22,798.35","23,045.25",0,0,23029.25000,0,0

In [ ]:
df = pd.read_csv("NSEI.csv")